= form_with model: Comment.new, url: comment_index_path, method: :post, remote: true, data: { turbo: false }, class: '' do |form|
  .w-full.h-fit.inline-flex.gap-0.items-center.bg-white.px-3.drop-shadow.rounded-md.cursor-pointer
    = form.text_area :body, class: 'w-full border-none focus:outline-none resize-none outline-none', placeholder: 'Write a comment...'
    = form.hidden_field :ticket_id, value: ticket.id
    span.inline-flex.gap-2.items-center.cursor-pointer
      = form.submit 'Send', class: 'cursor-pointer'
      i.fa-solid.fa-paper-plane
